@using SethBlog.Services
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@inject IFileService _fileService
@model IPagedList<Blog>
@{
    ViewData["Title"] = "Home Page";
}
<section class="blog-list px-3 py-5 p-md-5">
    <div class="container">
        <h1 class="text-center p-2">Blog Directory</h1>
        @foreach (var blog in Model)
        {
            <div class="card shadow m-3 p-2">
                <div class="row">
                    <div class="col-3">
                        <img class="mr-3 img-fluid post-thumb d-none d-md-flex"
                             src="@_fileService.DecodeFile(blog.BlogImage,blog.ContentType)" alt="image">
                    </div>
                    <div class="col-9">
                        <div class="row">
                            <h3 class="title mb-1"><a href="blog-post.html">@blog.Name</a></h3>

                        </div>
                        <div class="row">
                            <div class="meta">

                                <span class="date">@blog.Created.ToString("MMM dd, yyyy")</span>
                                <span class="comment"><a href="#">@blog.Posts.Count posts</a></span>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-7 p-0">
                                <div class="intro">
                                    @blog.Description
                                </div>
                            </div>
                            <div class="col-5">
                                <a class="btn btn-outline-primary" asp-controller="Posts" asp-action="BlogPostIndex"
                                   asp-route-id="@blog.Id">See @blog.Posts.Count Posts</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="item mb-5">
                <div class="media">
                    <img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="@_fileService.DecodeFile(blog.BlogImage, blog.ContentType)" alt="image">

                    <div class="media-body">
                        <h3 class="title mb-1"><a href="blog-post.html">@blog.Name</a></h3>
                        <div class="meta mb-1"><span class="date">@blog.Created.ToString("MMM dd, yyyy")</span><span class="comment"><a>@blog.Posts.Count Posts</a></span></div>
                        <div class="intro">@blog.Description</div>
                        <a name="" class="btn btn-primary btn-dark" asp-controller="Posts" asp-action="BlogPostIndex" asp-route-id="@blog.Id" role="button">See @blog.Posts.Count Posts</a>
                    </div><!--//media-body-->
                </div><!--//media-->
            </div>*@<!--//item-->
        }
        <div class="row">
            <div class="col h3">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            </div>
        </div>
        <div class="row">
            <div class="col">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }),
                    new PagedListRenderOptions
                    {
                        LiElementClasses = new string[] { "page-item" },
                        PageClasses = new string[] { "page-link" }
                    }
               )
            </div>
        </div>
        @*<nav class="blog-nav nav nav-justified my-5">
            <a class="nav-link-prev nav-item nav-link d-none rounded-left" href="#">Previous<i class="arrow-prev fas fa-long-arrow-alt-left"></i></a>
            <a class="nav-link-next nav-item nav-link rounded" href="#">Next<i class="arrow-next fas fa-long-arrow-alt-right"></i></a>
        </nav>*@

    </div>
</section>
