@model SethBlog.Models.Post
@using SethBlog.Services
@inject IFileService _fileService
@{
    ViewData["Title"] = @Html.DisplayFor(model => model.Title);
}
<article class="blog-post px-3 py-3 p-md-3">
    @if (User.IsInRole("Administrator")) {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> 
                                                               }
    <a asp-action="Index">Back to List</a>
    <div class="container">
        <header class="blog-post-header">
            <h2 class="title mb-2">@Model.Title</h2>
            <span class="date">@Model.Created.ToString("MMM dd, yyyy")</span>@if (Model.ReadTime is not null)
            {
                <span class="time">@Model.ReadTime min to read</span>
            }
            <span class="comment"><a href="#">@Model.Comments.Count comments</a></span>
            <img class="img-fluid mb-2" src="@_fileService.DecodeFile(Model.PostImage, Model.ContentType)" />
        </header>

        <div class="blog-post-body">
            @Html.Raw(Model.Content)
        </div>

    </div>
    <!--//container-->
</article>
@* List Current comments *@
@* Give Logged in users the ability to add a new comment *@