@model SethBlog.Models.Post
@using SethBlog.Services
@using Microsoft.AspNetCore.Identity
@using SethBlog.Enums
@inject IFileService _fileService
@inject UserManager<BlogUser> _userManager
@{
    ViewData["Title"] = @Html.DisplayFor(model => model.Title);
}
<article class="blog-post px-3 py-3 p-md-3">
    @if (User.IsInRole("Administrator"))
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> <span>|</span>
    }
    <a asp-action="BlogPostIndex" asp-route-id="@Model.BlogId" asp-route-page="@ViewData["FromPage"]">Back to List</a>@*Page number we came from?*@
    <div class="container">
        <header class="blog-post-header">
            <h2 class="title mb-2">@Model.Title</h2>
            <span class="date">@Model.Created.ToString("MMM dd, yyyy")</span> | @if (Model.ReadTime is not null)
            {
                <span class="time">@Model.ReadTime min to read</span>
            }
            | <span class="comment">@Model.Comments.Count comments</span>
            <img class="img-fluid mb-2" src="@_fileService.DecodeFile(Model.PostImage, Model.ContentType)" />
        </header>

        <div class="blog-post-body">
            @Html.Raw(Model.Content)
        </div>

    </div>
    <!--//container-->
    @*<h2>Comments:</h2>*@
    @* Give Logged in users the ability to add a new comment *@
    @* If user isn't logged in, prompt them to login so they can comment, then redirect them back to this page *@
    @if (!User.Identity.IsAuthenticated)
    {
        <a class="btn btn-block" asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@Url.Action("Details", "Posts" , new { id=Model.Id })">Login to add a comment</a>
    }
    else
    {
        //Allow user to create comment
        <div class="m-4">

            <h3>Leave a Comment:</h3>
            <form asp-action="Create" asp-controller="Comments" method="POST">
                <div class="form-group">
                    <input type="hidden" class="form-control" name="PostId" id="PostId" value="@Model.Id">
                    <textarea class="form-control" name="Body" id="" aria-describedby="helpId" rows="5" required></textarea>
                    <button type="submit" class="btn btn-primary btn-block btn-dark">Submit</button>
                    <span asp-validation-for="PostState" class="text-danger"></span>
                </div>
            </form>
        </div>
    }
    @* List Current comments *@
    <div class="comment-container" id="#comments">
        <p class=" m-4 text-muted">@Model.Comments.Count Comments </p>

        @foreach (var comment in Model.Comments.OrderByDescending(c => c.Created))
        {
            <div class="card shadow p-1 m-4 mb-2 animate__animated animate__fadeInUp">
                <div class="card-body">
                    <div class="row">

                        <div class="col-md-3 d-sm-none d-md-flex">
                            <img src="@_fileService.DecodeFile(comment.Author.ImageData, comment.Author.ContentType)" class="img-fluid comment-img p-1 d-none d-md-flex" alt="{comment.Author.FullName} Image">
                        </div>
                        <div class="col-md-9 col-sm">
                            <div class="row">

                                <div class="col-9">

                                    <h4 class="card-title">
                                        @comment.Author.FullName
                                    </h4>
                                </div>
                                <div class="col-3 text-right">
                                    <span class="date">@comment.Created.ToString("MMM dd, yyyy")</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    @if (comment.ModeratedBody is not null)
                                    {
                                        <p class="card-text">@comment.ModeratedBody</p>
                                        <p class="text-muted">This comment was moderated because of @comment.ModerationReason</p>
                                    }
                                    else
                                    {

                                        <p class="card-text">@comment.Body</p>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                @if (User.IsInRole("Moderator") || User.IsInRole("Administrator") || (comment.Moderated is null && _userManager.GetUserId(User) == comment.AuthorId))
                {
                    <div class="card-footer">
                        <div class="row">
                            <div class="col">
                                <p>Options:</p>
                            </div>
                            <div class="col">

                                <div class="btn-group">
                                    @if ((User.IsInRole("Moderator") || User.IsInRole("Administrator")) && comment.IsReviewed == false)
                                    {

                                        <a type="button" class="btn btn-sm btn-success" asp-action="MarkAsReviewed" asp-controller="Comments" asp-route-id="@comment.Id"> Reviewed</a>
                                    }
                                    <button type="button" class="btn btn-sm btn-warning" data-toggle="modal"
                                            data-target="#edit-@comment.Id">
                                        Edit
                                    </button>

                                    @if (User.IsInRole("Administrator"))
                                    {

                                        <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#delete-@comment.Id"> Delete</button>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                }
                @* CARD END *@
            </div>
        }
        <!--Modal ForeachLoop-->
            @foreach (var comment in Model.Comments.OrderByDescending(c=>c.Created))
            {

                @if (User.IsInRole("Moderator") || User.IsInRole("Administrator") || (comment.Moderated is null && _userManager.GetUserId(User) == comment.AuthorId))
                {
                    <!-- Modal -->
                    <div class="modal fade" id="edit-@comment.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div class="modal-body">
                                    <form asp-controller="Comments" asp-action="Edit">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <input type="hidden" value="@comment.Id" name="id" />
                                        <input type="hidden" asp-for="@comment.Id" />
                                        <input type="hidden" asp-for="@comment.PostId" />
                                        <input type="hidden" asp-for="@comment.AuthorId" />
                                        <input type="hidden" asp-for="@comment.ModeratorId" />
                                        <input type="hidden" asp-for="@comment.Created" />
                                        <input type="hidden" asp-for="@comment.Created" />
                                        @if (User.IsInRole("Moderator") || User.IsInRole("Administrator"))
                                        {
                                            <div class="form-group">

                                                <label class="control-label">Original Body</label>
                                                <textarea readonly class="form-control" asp-for="@comment.Body"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="@comment.ModeratedBody" class="control-label"></label>
                                                <textarea asp-for="@comment.ModeratedBody" class="form-control"></textarea>
                                                <span asp-validation-for="@comment.ModeratedBody" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="@comment.ModerationReason" class="control-label"></label>
                                                <select asp-for="@comment.ModerationReason" class="form-control" asp-items="Html.GetEnumSelectList<ModerationReason>()"></select>
                                                <span asp-validation-for="@comment.ModerationReason" class="text-danger"></span>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="form-group">
                                                <label asp-for="@comment.Body" class="control-label"></label>
                                                <textarea asp-for="@comment.Body" class="form-control"></textarea>
                                                <span asp-validation-for="@comment.Body" class="text-danger"></span>
                                            </div>
                                        }
                                        <div class="form-group">
                                            <input type="submit" value="Save" class="btn btn-primary" />
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (User.IsInRole("Administrator"))
                    {

                        <div class="modal fade" id="delete-@comment.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Delete Comment</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>

                                    <div class="modal-body">
                                        <h3 class="text-danger">Are you sure you want to delete this comment?</h3>
                                        <hr />
                                        <p class="mt-1">@comment.Body</p>
                                        <p>@comment.Author.DisplayName / @comment.Author.FullName</p>
                                    </div>
                                    <div class="modal-footer">
                                        <form asp-controller="Comments" asp-action="Delete">
                                            <input type="hidden" value="@comment.Id" name="id" />
                                            <input type="submit" value="Save" class="btn btn-danger" />
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            }
    </div>
</article>